 #education {
     .title {
         width: 550px;
         height: 372px;
         border: 2px solid gray !important;
         .elementor {
             button {
                 width: 138.37px;
                 height: 60px;
                 background-color: blueviolet;
                 color: white;
                 height: 100%;
             }
         }
     }
 }